<body>
    <div class="container">
        <div class="sidePanel">
            <recordDate class="recordDate" (onDateChange)="onDateChange($event)"></recordDate>
            <workersList class="workersList" (onEmployeeChange)="onEmployeeChange($event)"
                (onEmployeeAddedChange)="onEmployeeAddedChange($event)">
            </workersList>
        </div>
        <div class="mainContent">
            <timetableTitle class="timetableTitle"></timetableTitle>
            <timetable class="timetableContent" [fio]="fio" [(isEmployeeAdded)]="isEmployeeAdded" [date]="date">
            </timetable>
        </div>
    </div>
</body>