<body>
    <div class="container">
        <div class="sidePanel">
            <recordDate class="recordDate"></recordDate>
            <workersList class="workersList" (onCheckboxChange)="onCheckboxChange($event)"
                (onCheckedChange)="onCheckedChange($event)">
            </workersList>
        </div>
        <div class="mainContent">
            <timetableTitle class="timetableTitle"></timetableTitle>
            <timetable class="timetableContent" [(fio)]="fio" [(checked)]="checked"></timetable>
        </div>
    </div>
</body>