<ul class="timeTable" #timeTable>
    <li class="oneWorker" *ngFor="let worker of employeeTimeTableArr">
        <div class="date" #date>{{ worker.date | date:'dd.MM.yyyy' }}</div>
        <div class="FIO" #fio>{{ worker.fio }}</div>
        <ul class="schedule">
            <li (click)="clickEvent($event.target, fio.textContent)" *ngFor="let schedule of worker.schedules"
                [ngClass]="schedule.isFree ? 'freely' : 'appointment'">
                {{ schedule.time }}
            </li>
        </ul>
    </li>
</ul>