html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;


    &>.container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(100% - 4px);
        font-size: 16px;

        &>.sidePanel {
            position: fixed;
            width: 20%;
            height: 100%;
            float: left;

            &>.recordDate {
                width: calc(100% - 4px);
                height: 18%;
                text-align: center;
                display: flex;
                background-color: #e7e6e6;
                border: 2px solid #253a3b;
            }

            &>.workersList {
                display: flex;
                flex-direction: column;
                background-color: #e7e6e6;
                border: 2px solid #253a3b;
                height: calc(100% - 8px);
            }

        }

        &>.mainContent {
            position: relative;
            left: 20%;
            height: 100%;
            float: left;
            width: 80%;

            &>.timetableTitle {
                position: fixed;
                z-index: 1;
                display: flex;
                width: calc(80% - 3px);
                height: 10%;
                font-family: "Arial", sans-serif;
                background-color: #e7e6e6;
                border: 2px solid #253a3b;
            }

            &>.timetableContent {
                position: relative;
                top: calc(10% + 4px);
                display: flex;
                flex-direction: row;
                min-height: calc(90% - 8px);
                width: 100%;
                background-color: #e7e6e6;
                border: 2px solid #253a3b;
            }
        }
    }
}