@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.recordDateInner {
    display: flex;
    flex-direction: column;
    margin: auto;

    &>h1 {
        margin-top: 0;
        font-family: Arial;
        font-size: 2rem;
    }

    &>p-calendar {
        z-index: 2;
    }
}