:host ::ng-deep .p-button {
    all: unset;
}

.timeTable {

    &>.oneWorker {
        color: #ddd;
        background-color: #A9A9A9;
        display: flex;
        text-align: center;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        margin-bottom: 20px;
        margin-right: 50px;
        display: inline-block;
        width: 250px;

        &>.date {
            color: #fcfcfc;
            background-color: #393939;
            width: 100%;
            padding: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-size: 1.1rem;
        }

        &>.FIO {
            color: #fcfcfc;
            background-color: #6D6D6D;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 1.1rem;
        }

        &>.schedule {
            display: flex;
            justify-content: center;
            flex-direction: column;
            list-style-type: none;
            padding-left: 0px;
            padding-bottom: 5px;

            &>p-button.freely {
                background-color: white;
                border-radius: 0;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                border-left: none;
                border-right: none;
                font-size: 1.1rem;
                color: black;
                width: 100%;
            }
        }
    }
}

p-button.save {
    margin-left: 10px;
    height: 100%;
    font-size: 1.2rem;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #535e5f;
    border-radius: 4px;
    color: rgb(78, 78, 78);
}

p-button.cancel {
    margin-left: 10px;
    height: 100%;
    font-size: 1.2rem;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    background-color: #a1a1a1;
    border: 1px solid #33393a;
    border-radius: 4px;
    color: rgb(78, 78, 78);
}

p-button.delete {
    margin-left: 10px;
    height: 100%;
    font-size: 1.2rem;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    background-color: #f36666;
    border: 1px solid #535e5f;
    border-radius: 4px;
    color: rgb(78, 78, 78);
}

p-dialog * {
    margin-top: 8px;

}

p-dialog.dialog {

    position: relative;
    z-index: 2;
}