.dialog {
    &>.input-fields-container {
        margin-top: 13px;
        margin-bottom: 13px;
        width: 100%;

        &>.input-field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3px;

            &>.input-text {
                width: 298px;
            }
        }
    }

    &>.buttons * {
        margin-right: 7px;
    }

}

:host ::ng-deep .p-dropdown {
    width: 298px;
}

:host ::ng-deep .p-inputNumber {
    width: 298px;
}